In [2]:
import streamlit as st
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame(
    np.random.rand(100, 2)/[35.69,139.70],
    columns = ["lat", "lon"]
)
df

         lat       lon
0   0.016095  0.005249
1   0.000644  0.006066
2   0.000911  0.005644
3   0.013725  0.002726
4   0.010816  0.006657
..       ...       ...
95  0.026425  0.002890
96  0.027781  0.001795
97  0.025761  0.006693
98  0.016887  0.003925
99  0.001267  0.002289

[100 rows x 2 columns]

In [7]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]